In [ ]:
from collections import defaultdict
d = defaultdict(lambda : 0) #d라는 딕셔너리 key값에 value가 정의되어 있지 않으면 0으로 정의함
print(d['first'])

0

In [ ]:
from collections import defaultdict
s = [('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
d = defaultdict(list) #value를 list형태로
for k, v in s :
    d[k].append(v)
print(d.items())

dict_items([('yellow', [1, 3]), ('blue', [2, 4]), ('red', [1])])

In [ ]:
from collections import Counter
text = list('elephant')
print(text)

c = Counter(text)
print(c)

['e', 'l', 'e', 'p', 'h', 'a', 'n', 't']
Counter({'e': 2, 'l': 1, 'p': 1, 'h': 1, 'a': 1, 'n': 1, 't': 1})

In [ ]:
from collections import namedtuple
Point = namedtuple('Point', ['x', 'y'])
p = Point(11, y=22)
print(p)

Point(x=11, y=22)

연습문제 7장
1. 5
2. 3, 5
3. 1
4. 4 (setdefault : key값 없으면 추가 있으면 기존값)
5. 6
6. 4
7. 4
8. 3 제외
9. 4
10. 제외
11. 스택, 큐, 튜플, 세트
12. 코드 써보기
13. 자료형, 문자열, 정수형, 22 (1+2+3+4+5+7)
14. 4 제외
15. 3
16. 1
17. 19
18. 1
19. 4

In [ ]:
text = 'Python is Fun!'
t = text.replace('P', 'p')
print(t)

python is Fun!

In [ ]:
text = 'Python is Fun!'
tt = text.replace(' ', '')
print(tt)

PythonisFun!

사용자정의함수, 매개변수, 반환값유무

In [ ]:
def a_area():
    print(5 * 7)
def b_area(x, y):
    print(x * y)
def c_area():
    return(5 * 7)
def d_area(x, y):
    return(x * y)

print('--------------------')
a_area()
print('--------------------')
print(a_area())
print('--------------------')
b_area(5, 7)
print('--------------------')
print(c_area())
print('--------------------')
print(d_area(5, 7))
print('--------------------')

--------------------
35
--------------------
35
None
--------------------
35
--------------------
35
--------------------
35
--------------------

In [ ]:
def b_area(x, y):
    print(x * y)
result = b_area(5, 7) #반환값이 없으므로 불필요
print(result)

35
None

In [ ]:
def f(x):
    y = x
    print(id(x))
    print(id(y))
    x = 5
    print(id(x))
    return y * y

x = 3
print(f(x))
print(x)
print(id(x))

140106025798000
140106025798000
140106025798064
9
3
140106025798000

In [ ]:
def f(t):
    y = t
    print(id(t))
    print(id(y))
    t = 5
    print(id(t))
    return y * y

x = 3
print(f(x))
print(x)
print(id(x))

139801070942576
139801070942576
139801070942640
9
3
139801070942576

In [ ]:
def f(x):
    y = x
    x = 5
    return y*y, x, x**2  #반환값은 여러개도 가능

x = 3
print(f(x))
print(x)

140106025798000
140106025798000
140106025798064
(9, 5, 25)
3
140106025798000

함수가 변수를 호출하는 방식
값에 의한 호출

In [ ]:
#함수의 호출 방식
def spam(eggs):
    eggs.append(1) #기존 객체의 주소값에 [1] 추가
    print(eggs)
    eggs = [2, 3] # 새로운 객체 생성
    print(eggs)
ham = [0]
spam(ham)
print(ham)

[0, 1]
[2, 3]
[0, 1]

In [ ]:
#함수의 호출 방식
def spam(eggs):
    eggs.append(1) #기존 객체의 주소값에 [1] 추가
    print(eggs)
    print(id(eggs))
    eggs = [2, 3] # 새로운 객체 생성
    print(eggs)
    print(id(eggs))
ham = [0]
spam(ham)
print(ham)
print(id(ham))

[0, 1]
140104763100992
[2, 3]
140104760817152
[0, 1]
140104763100992

변수의 사용 범위
지역변수(local variable) : 함수 내부에서만 사용
전역변수(global variable) : 프로그램 전체에서 사용

In [ ]:
def test(t):
    print(x)
    t = 20
    print('In Function : ', t)

x = 10
test(x)
print('In Main : ', x)
print('In Main : ', t)

10
In Function :  20
In Main :  10

NameError: ignored

In [ ]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)
num = int(input('Input Number for Factorial Calculation : '))
print(factorial(num))

Input Number for Factorial Calculation : 9
362880

In [ ]:
#quiz
word = input()
wordList = list(word)
print(wordList)
resultList = []
for i in range(len(wordList)):
    resultList.append(wordList.pop())
print(resultList)