In [ ]:
a = [1,2]
b = [3,4]

for i in a:
    for j in b:
        result = i + j
print(result)

6

In [ ]:
list_1 = [[1, 2], 3, [4, 5, 6]]
a, b, c = list_1
list_2 = a,b,c
print(list_2)

([1, 2], 3, [4, 5, 6])

In [ ]:
#역순 출력
sentence = 'python'
reverse =''
for i in sentence:
    reverse = i + reverse #p+'', y+(p+''), t+(y+(p+'')
print(reverse)

nohtyp

In [ ]:
#구구단 계산기
dan = int(input('구구단 몇 단을 계산 할까?'))
if dan == 5:
    for i in range(1,10):
        print(dan, 'X', i, '=', 5*i)

구구단 몇 단을 계산 할까?5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [ ]:
#구구단 계산기
dan = int(input('구구단 몇 단을 계산 할까? '))
while dan != 0:
    if dan == 0: break
    if not(dan>=2 and dan<=9):
        print('잘못입력했습니다.','2부터 9사이의 숫자를 입력하세요')
        dan = int(input('구구단 몇 단을 계산 할까?'))
    else:
        print('구구단'+str(dan)+'단을 계산합니다')
        for i in range(1,10):
           print(str(dan), 'X', str(i), '=', str(dan*i))
        dan = int(input('구구단 몇 단을 계산 할까? '))
print('구구단 게임 종료')

구구단 몇 단을 계산 할까? 1
잘못입력했습니다. 2부터 9사이의 숫자를 입력하세요
구구단 몇 단을 계산 할까?10
잘못입력했습니다. 2부터 9사이의 숫자를 입력하세요
구구단 몇 단을 계산 할까?2
구구단2단을 계산합니다
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
구구단 몇 단을 계산 할까? 0
구구단 게임 종료

In [ ]:
sentence = 'I love you'
reverse = ''
for char in sentence:
    reverse = char + reverse
print(reverse)

uoy evol I

#진법변환
2진수(binary digit) : 0, 1로 표현
8진수(octal digit) : 0,1,2,3,4,5,6,7로 표현
16진수(hexa digit) : 0,1,2,3,4,5,6,7,8,9,a(10),b(11),c(12),d(13),e(14),f(15)

In [ ]:
#10진수 543 = 5 * 100 + 4 * 10 + 3
print(bin(127))
print(oct(127))
print(hex(127))

0b1111111
0o177
0x7f

In [ ]:
#2진수 8진수 16진수수
print(0b11)
print(0o11)
print(0x11)

3
9
17

0x7f

In [ ]:
#십진수를 이진수로 변환
decimal = 10
result = ''
while (decimal > 0):
    remainder = decimal % 2   # 10%2 5%2 2%2 1%2
    decimal = decimal // 2   #10//2 5//2 2//2 1//2
    result = str(remainder) + result
print(result)

1010

In [ ]:
#이진탐색
import random
com = random.randint(1,10)
user_num = int(input('숫자입력:'))
while user_num != com:
    if user_num > com:
        print('Down')
    else:
        print('UP')
    user_num = int(input('숫자입력:'))
print('정답입니다')

숫자입력:5
Down
숫자입력:4
Down
숫자입력:3
Down
숫자입력:1
UP
숫자입력:2
정답입니다

In [ ]:
#2차원 리스트에서 평균 구하기
#for문 2개를 사용한다
kor_score=[49,79,20,100,80]
math_score=[43,59,85,30,90]
eng_score=[49,79,48,60,100]
midterm_score = [kor_score, math_score, eng_score]

student_score = [0, 0, 0, 0, 0]
i = 0
for subject in midterm_score:
    for score in subject:
        student_score[i] += score
        i +=1
    i = 0
else:
    a,b,c,d,e = student_score
    student_average = [a/3, b/3, c/3, d/3, e/3]
    print(student_average)

[47.0, 72.33333333333333, 51.0, 63.333333333333336, 90.0]

In [ ]:
kor_score=[49,79,20,100,80]
math_score=[43,59,85,30,90]
eng_score=[49,79,48,60,100]
midterm_score = [kor_score, math_score, eng_score]

student_score = [0, 0, 0, 0, 0]
i = 0
for s in midterm_score:
    for score in s:
        student_score[i] += score
        i += 1
    i = 0
a, b, c, d, e = student_score
average = [a/3, b/3, c/3, d/3, e/3]
print(average)

[47.0, 72.33333333333333, 51.0, 63.333333333333336, 90.0]