chapter10 연습문제
1. 5
2. 코드실행
3. 코드실행
4. 2
5. 3
6. 5
7. 4
8. 코드실행
9. 5
10. if __name__ == '__main__' #메인함수 선언
11. 4
12.

In [ ]:
#1번 문제
class Bit(object):
    def __init__(self):
        self.__password = 5678

    def set_password(self,  new_pw):
        self.__password = new_pw
        print('Password changed')

    def get_password(self):
        print('Your password is :', self.__password)

coin = Bit()
coin.get_password()
coin.set_password(1234)
#print(coin.__password)

Your password is : 5678
Password changed

In [ ]:
#2번 문제
class Company:
    def __init__(self):
        self.work = True
        self.name = 'Jane'
        self.gender = 'woman'

    def retire(self):
        self.work = False

class Employee(Company):
    def __init__(self, name, gender):
        super().__init__()
        self.name = name
        self.gender = gender

    def introduce(self):
        if self.work == True:
            print('I got a job at a company')
            print('My name is', self.name)
            print('I am a', self.gender)
        if self.work == False:
            print('I left the company')



em = Employee('James', 'man')
print(em.name)
print(em.gender)
em.retire() #False
em.introduce()
Employee('James', 'man').introduce()

James
man
I left the company
I got a job at a company
My name is James
I am a man

In [ ]:
#3번 문제
class Person(object):
    def __init__(self, name):
        self.name = name

    def language(self):
        pass

class Earthling(Person):
    def language(self, lang):
        return lang

class Groot(Person):
    def language(self, lang):
        return "I'm Groot!"

name = ['Hanbit', 'Dr.Strange', 'Groot']
country = ['Korea', 'USA', 'Galaxy']
lang = ['Korean', 'English', 'Groot']

for idx, n in enumerate(name):  #(0, 'Hanbit'), (1, 'Dr.strange')
    if country[idx].upper() != 'GALAXY':  #country[0] == 'KOREA', country[1] == 'USA', country[2] == 'GALAXY'
        person = Earthling(n)
        print(person.language(lang[idx]))  #lang[0] == 'Korean', lang[1] == 'English'
    else:
        groot = Groot(name)
        print(groot.language(lang[idx]))

Korean
English
I'm Groot!

In [ ]:
#4번 문제
class SoccerPlayer(object):
    def __init__(self, name, position, back_number):
        self.name = name
        self.position = position
        self.back_number = back_number

    def change_back_number(self, new_number):
        print('등번호 변경 %d -> %d' %(self.back_number, new_number))
        self.back_number = new_number

jinhyun = SoccerPlayer('Jinhyun', 'MF', 10)
print('현재 진현 등번호 :', jinhyun.back_number)
jinhyun.change_back_number(5)

현재 진현 등번호 : 10
등번호 변경 10 -> 5

In [ ]:
#6번 문제
class Marvel(object):
    def __init__(self, name, characteristic):
        self.name = name
        self.characteristic = characteristic

    def __str__(self):
        return 'My name is {0} and my weapon is {1}.'.format(
            self.name, self.characteristic)

class Villain(Marvel):
    pass

first_villain = Villain('Thanos', 'infinity gauntlet')
print(first_villain)

My name is Thanos and my weapon is infinity gauntlet.

In [ ]:
#8번 문제
class TV(object):
    def __init__(self, size, year, company):
        self.size = size
        self.year = year
        self.company = company

    def describe(self):
        print(self.company + '에서 만든 ' + self.year + '년형 ' + self.size + '인치 ' + 'TV')

class Laptop(TV):
    def describe(self):
        print(self.company + '에서 만든 ' + self.year + '년형 ' + self.size + '인치 ' + '노트북')

LG_TV = TV('32', '2022', 'LG')
LG_TV.describe()

samsung_microwave = Laptop('15', '2023', 'samsung')
samsung_microwave.describe()

LG에서 만든 2022년형 32인치 TV
samsung에서 만든 2023년형 15인치 노트북

In [ ]:
#10번 문제
class Person:
    def __init__(self, name, age, position):
        self.Name = name
        self.Age = age
        self.Position = position

    def show_info(self):
        print('이름 : {0}'.format(self.Name))
        print('나이 : {0}'.format(self.Age))
        print('직위 : {0}'.format(self.Position))
        print('저는 한빛대학교 {0}{1}입니다. 나이는 {2}입니다.'.format(self.Position, self.Name, self.Age))
class Researcher(Person):
    def __init__(self, name, age, position, degree):
        Person.__init__(self, name, age, position)
        self.Degree = degree
    def show_info(self):
        Person.show_info(self)
        print('저는 {0}입니다.'.format(self.Degree))
if __name__ == '__main__':
    researcher_john = Researcher('John', '22', '연구원', '학사')
    researcher_tedd = Researcher('Tedd', '40', '소장', '박사')
    researcher_john.show_info()
    researcher_tedd.show_info()

이름 : John
나이 : 22
직위 : 연구원
저는 한빛대학교 연구원John입니다. 나이는 22입니다.
저는 학사입니다.
이름 : Tedd
나이 : 40
직위 : 소장
저는 한빛대학교 소장Tedd입니다. 나이는 40입니다.
저는 박사입니다.

In [ ]:
#11번 문제
class Terran(object):
    def __init__(self, mineral):
        self.scv = 4
        self.marine = 0
        self.medic = 0
        self.mineral = mineral           #50

    def command(self, SCV = False):
        self.mineral += 8*self.scv       #50 + 32 = 82
        if SCV:
            self.scv += 1
            self.mineral -= 10           #82 - 10 = 72

    def barrack(self, Marine = False, Medic = False):
        self.mineral += 8*self.scv       #72 + 40 = 112
        if Marine:
            self.marine += 1
            self.mineral -= 15           #112 - 15 = 97
        if Medic:
            self.medic += 1
            self.mineral -= 25           #97 - 25 = 72

    def check_source(self):
        print('Mineral : ' + str(self.mineral))


User = Terran(50)
User.command(True)
User.barrack(True, True)
User.check_source()

Mineral : 72

In [ ]:
#12번 문제
class IceCream(object):
    def __init__(self, flavor):
        self.flavor = flavor

    def change_flavor(self, new_flavor):
        print('아이스크림을 %s에서 %s로 변경해주세요' %(self.flavor, new_flavor))
        self.flavor = new_flavor
ice_cream = IceCream('레인보우 샤베트')
ice_cream.change_flavor('바람과 함께 사라지다')

아이스크림을 레인보우 샤베트에서 바람과 함께 사라지다로 변경해주세요
아이스크림 맛을 바람과 함께 사라지다로 변경해드렸어요

12장 연습문제
3. 3
4. 4
5. 4 문법적 오류
9. 1
10. 2

In [ ]:
import sys
print(sys.getsizeof(''))
print(sys.getsizeof('a'))
print(sys.getsizeof('ab'))
print(sys.getsizeof('abc'))

49
50
51
52

In [ ]:
title = 'TEAMLAB X Inflearn'
print(title.upper())  #모두 대문자
print(title.lower())  #모두 소문자
print(len(title))  #문자열 길이 반환

TEAMLAB X INFLEARN
teamlab x inflearn
18

In [ ]:
text1 = 'python is fun'
print(text1.title())  #단어 첫글자 대문자
print(text1.capitalize())  #문자열 첫글자 대문자

print('-'*30)

print(text1.count('n'))  #n 개수 반환
print(text1.find('n'))  #첫번째 n위치 반환
print(text1.rfind('n'))  #마지막 n위치 반환

print('-'*30)

print(text1.startswith('p'))  #p로 시작하면 True 아니면 Fasle
print(text1.startswith('y'))

print('-'*30)

print(text1.endswith('n'))  #n으로 끝나면 True 아니면 Flase
print(text1.endswith('u'))

Python Is Fun
Python is fun
------------------------------
2
5
12
------------------------------
True
False
------------------------------
True
False

In [ ]:
text2 = '      elephant         '
print(text2)
print(text2.strip())  #공백 제거
print(text2.rstrip())  #오른쪽 공백 제거
print(text2.lstrip())  #왼쪽 공백 제거

      elephant
elephant
      elephant
elephant

In [ ]:
text1 = 'python is fun'
print(text1.split())  #공백 기준으로 나눠서 리스트로 반환

text3 = 'python,is,fun'
print(text3.split(','))  #','기준으로 나눠서 리스트로 반환

['python', 'is', 'fun']
['python', 'is', 'fun']

In [ ]:
text11 = 'python'
print(text11.isdigit())  #문자열이 숫자면 True
print(text11.isalpha())  #문자열이 문자면 True
print(text11.isalnum())  #문자열이 숫자면 True
print(text11.islower())  #문자열이 소문자면 True
print(text11.isupper())  #문자열이 대문자면 True

False
True
True
True
False