함수 function
사용자정의함수
함수명 작성규칙 :
1) 공백 안됨
2) _사용가능, 그 외 특수기호 안됨
3) 맨 앞에 숫자 불가능
4) 예약어 안됨

In [ ]:
def area(x,y):
    return x * y

print(area(3,5))

15

In [ ]:
def area(x,y):
    return x * y

rectangle = area(3,5)
print(rectangle)

15

In [ ]:
#안되는 예
def area(x,y):
    print(x * y)

rectangle = area(3,5)
print(rectangle)

15
None

In [ ]:
def area(x,y):
    return x * y

x = 10
y = 20
print('가로길이 : ', x)
print('세로길이 : ', y)

print('사각형의 넓이 : ', area(x,y))

가로길이 :  10
세로길이 :  20
사각형의 넓이 :  200

In [ ]:
def f(x):
    return 2*x + 7
def g(x):
    return x**2

x = 2
print(f(x) + g(x) + f(g(x)) + g(f(x)))

151

collection 자료형
스택(stack)
사전적의미 : 쌓아놓은 더미
마지막에 저장된 값이 먼저 나간다.
Last In First Out(LIFO)

In [ ]:
#push 5번
numList = []
for i in range(5):
    num = int(input('숫자입력 : '))
    numList.append(num)
    print(numList)3

숫자입력 : 5
[5]
숫자입력 : 7
[5, 7]
숫자입력 : 99
[5, 7, 99]
숫자입력 : 2
[5, 7, 99, 2]
숫자입력 : 4
[5, 7, 99, 2, 4]

In [ ]:
#pop 3번
numList = [1, 4, 10, 15, 20]
for i in range(3):
    numList.pop()
    print(numList)

[1, 4, 10, 15]
[1, 4, 10]
[1, 4]

In [ ]:
#역순으로 문자열 추출하기
word = input('Input a word : ')
word_list = list(word)
print(word_list)
result = []
for _ in range(len(word_list)):
    result.append(word_list.pop())
print(result)

print(word[::-1])

Input a word : python
['p', 'y', 't', 'h', 'o', 'n']
['n', 'o', 'h', 't', 'y', 'p']
nohtyp

큐(queue)
사전적의미 : 대기행렬
먼저 들어간 데이터가 먼저 나오는 구조
First In First Out

In [ ]:
a = [1, 2, 3, 4, 5]
a.append(10)
a.append(20)
a.pop(0)
a.pop(0)
print(a)

[3, 4, 5, 10, 20]

튜플(tuple)
리스트와 유사
단, 값 변경 불가

In [ ]:
t = (1, 2, 3)
print(t[1])

print(t[1]*5)

print(type(t))

2
10
<class 'tuple'>

In [ ]:
num = (100)
print(type(num))

numt = (100,)
print(type(numt))

numt_2 = 100, 2
print(type(numt_2))

<class 'int'>
<class 'tuple'>
<class 'tuple'>

세트(set)
값을 순서없이 저장하되 중복을 허용하지 않는 자료형

In [ ]:
s = set([1, 2, 3, 1, 2, 3])
print(s)

s.add(1)
print(s)

s.remove(1)
print(s)

s.update([1, 4, 5, 6, 7])
print(s)

s.discard(3)
print(s)

s.clear()
print(s)

{1, 2, 3}
{1, 2, 3}
{2, 3}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}
set()

In [ ]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([3, 4, 5, 6, 7])

print(s1.union(s2))
print(s1|s2)

print(s1.intersection(s2))
print(s1&s2)

print(s1.difference(s2))
print(s1-s2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2}
{1, 2}

딕셔너리(dictionary)
데이터의 유일한 구분자인 키(key)와 실제 데이터 값(value)이 쌍으로 저장된 자료형
순서를 고려하지 않음

In [ ]:
menu = {}
menu['떡볶이'] = 3500
menu['어묵'] = 500
menu['튀김'] = 2000
print(menu)
print('-----------------------')
print(menu['떡볶이'])
print('-----------------------')
menu['어묵'] = 1500
print(menu['어묵'])
print('-----------------------')
menu['김밥'] = 3000
print(menu)
print('-----------------------')
print(menu.keys())
print(menu.values())
print(menu.items())
print('-----------------------')
for k, v in menu.items():
    print('keys : ', k)
    print('values : ', v)
print('-----------------------')
for k, v in menu.items():
    print(k, v)
print('-----------------------')
print('어묵' in menu.keys())
print('오뎅' in menu.keys())
print('3500' in menu.values())

{'떡볶이': 3500, '어묵': 500, '튀김': 2000}
-----------------------
3500
-----------------------
1500
-----------------------
{'떡볶이': 3500, '어묵': 1500, '튀김': 2000, '김밥': 3000}
-----------------------
dict_keys(['떡볶이', '어묵', '튀김', '김밥'])
dict_values([3500, 1500, 2000, 3000])
dict_items([('떡볶이', 3500), ('어묵', 1500), ('튀김', 2000), ('김밥', 3000)])
-----------------------
keys :  떡볶이
values :  3500
keys :  어묵
values :  1500
keys :  튀김
values :  2000
keys :  김밥
values :  3000
-----------------------
떡볶이 3500
어묵 1500
튀김 2000
김밥 3000
-----------------------
True
False
False

collections 모듈
deque
OrderedDict
defaultdict
Counter
namedtuple

deque
스택과 큐를 모두 지원하는 모듈
리스트와 비슷한 형식으로 데이터 저장해야함

In [ ]:
from collections import deque
deque_list = deque()
for i in range(5):
    deque_list.append(i)
print(deque_list)

deque([0, 1, 2, 3, 4])

In [ ]:
deque_list = [1, 2, 3, 4, 5]
deque_list.pop()
deque_list.pop()
deque_list.pop()
print(deque_list)

[1, 2]

In [ ]:
from collections import deque
deque_list = deque()
for i in range(5):
    deque_list.appendleft(i) #(4-i)하면 어떻게 될까
print(deque_list)

deque([4, 3, 2, 1, 0])

In [ ]:
print(deque(reversed(deque_list)))

NameError: ignored

In [ ]:
from collections import OrderedDict

def sort_by_key(t): #key값 기준으로 정렬
    return t[0]

menu = dict()
menu['떡볶이'] = 3500
menu['어묵'] = 500
menu['김밥'] = 3000
menu['튀김'] = 2000

print('menu', sorted(menu.items(), key = sort_by_key))

menu [('김밥', 3000), ('떡볶이', 3500), ('어묵', 500), ('튀김', 2000)]

In [ ]:
from collections import OrderedDict

def sort_by_value(t): #value값 기준으로 정렬
    return t[1]

menu = dict()
menu['떡볶이'] = 3500
menu['어묵'] = 500
menu['김밥'] = 3000
menu['튀김'] = 2000

print('menu', sorted(menu.items(), key = sort_by_value))

menu [('어묵', 500), ('튀김', 2000), ('김밥', 3000), ('떡볶이', 3500)]

In [ ]:
from collections import defaultdict
s = [('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
d = defaultdict(list)
for k, v in s :
    d[k].append(v)
print(d.items())

dict_items([('yellow', [1, 3]), ('blue', [2, 4]), ('red', [1])])