함수의 인수(argument) 함수의 입력으로 들어가는 변수의 다양한 형태


-키워드 인수 : 지정한 변수명을 사용하여 함수의 인수를 지정하는 방법

-디폴트 인수 : 함수 선언할 때 미리 디폴트 변수명을 지정하는 방법

-가변 인수(variable-length argument) : 함수의 인터페이스에 지정된 매개변수 이외의 추가 매개변수를 함수에 입력할 수 있게 지원하는 방법,
항의 개수 정해져 있지 않을 때 사용,
튜플 자료형 사용

-키워드 가변 인수(keyword variable-length argument) : 매개변수의 이름을 따로 지정하지 않고 입력하는 방법

In [ ]:
#키워드 인수
def print_something(my_name, your_name):
    print('Hello {0}, My name is {1}'.format(your_name, my_name))

print_something('gildong', 'python')
print_something(your_name = 'python', my_name = 'gildong')

Hello python, My name is gildong
Hello python, My name is gildong

In [ ]:
#디폴트 인수
def print_something(my_name, your_name = 'PYTHON'):
    print('Hello {0}, My name is {1}'.format(your_name, my_name))

print_something('gildong', 'python')
print_something(my_name = 'gildong')

Hello python, My name is gildong
Hello PYTHON, My name is gildong

In [ ]:
#가변 인수
def asterisk_test(a, b, *args):
    return a + b + sum(args)

print(asterisk_test(1, 2, 3, 4, 5))

15

In [ ]:
def asterisk_test(a, b, *args):
    return sum(args) #3 + 4 + 5

print(asterisk_test(1, 2, 3, 4, 5))

12

In [ ]:
def asterisk_test(a, b, *args):
    return sum(args) * b #(3 + 4 + 5) * 2

print(asterisk_test(1, 2, 3, 4, 5))

24

In [ ]:
def asterisk_test(a, b, *args):
    return min(args) #3, 4, 5 중 최소값

print(asterisk_test(1, 2, 3, 4, 5))

3

In [ ]:
def asterisk_test(a, b, *args):
    print(args)
    print(type(args))
    print(len(args))
asterisk_test(1, 2, 3, 4, 5)

(3, 4, 5)
<class 'tuple'>
3

In [ ]:
def asterisk_test(*args):
    x, y, *z = args
    return x, y, z

print(asterisk_test(1, 2, 3, 4, 5))

(1, 2, [3, 4, 5])

In [ ]:
#키워드 가변 인수
def kwargs_test(**kwargs):
    print(kwargs) #딕셔너리 구조
    print('First value is {first}'.format(**kwargs))
    print('Second value is {second}'.format(**kwargs))
    print('Third value is {third}'.format(**kwargs))

kwargs_test(first = 3, second = 4, third = 5)

{'first': 3, 'second': 4, 'third': 5}
First value is 3
Second value is 4
Third value is 5

In [ ]:
def kwargs_test(one, two, *args, **kwargs):
    print(one+two+sum(args))
    print(kwargs)
kwargs_test(3, 4, 5, 6, 7, 8, 9, first = 3, second = 4, third = 5)

42
{'first': 3, 'second': 4, 'third': 5}

chapter 5 함수
1. 3
2. 1
3. 1
4. 3
5. 3
6. 1 (1 키워드, 2 디폴트, 3 가변, 4 키워드가변)
7. 5
8. 4
9. None 반환값이 없어서
10. 1
11. 10, 20
12. 5
13. 2
14. None
15. 1

In [ ]:
#연습문제 3
def counter(*args):
    print(args) #원소가 1개 있는 튜플 형태
    count = len(args)
    return count
print(counter(['test','hello','oooo']))

(['test', 'hello', 'oooo'],)
1

In [ ]:
#연습문제 3 변형
def counter(*args):
    print(*args)
    count = len(*args)
    return count
print(counter(['test','hello','oooo']))

['test', 'hello', 'oooo']
3

12장 예외처리, 파일 다루기
예외 : 프로그램을 개발하면서 예상하지 못한 상황이 발생하는 것
try:
except:

In [ ]:
for i in range(10):
    try:
        result = 10 / i
    except:
        print('Not divided by 0')
    else:
        print(10/i)

Not divided by 0
10.0
5.0
3.3333333333333335
2.5
2.0
1.6666666666666667
1.4285714285714286
1.25
1.1111111111111112

In [ ]:
try:
    for i in range(1, 10):
        result = 10 // i
        print(result)
except:
    print('Not divided by 0')
finally:
    print('종료')

10
5
3
2
2
1
1
1
1
종료

In [ ]:
c_code = {'a':1, 'k':82, 'c':86, 'j':81}
print(c_code.values())
print(c_code)
print(c_code.keys())
print(85 in c_code.values())
print('k' in c_code.keys())

dict_values([1, 82, 86, 81])
{'a': 1, 'k': 82, 'c': 86, 'j': 81}
dict_keys(['a', 'k', 'c', 'j'])
False
True

객체 지향 프로그래밍(object oriented programming, oop)