In [ ]:
subj = ['kor', 'eng']
subj.append(['python'])
print(subj)

['kor', 'eng', ['python']]

In [ ]:
#슬라이싱된 값을 리스트에 추가
name = ['python', 'c', 'c++', 'JAVA']
subj = ['kor', 'eng']
subj.append(name[:-2])
print (subj)

['kor', 'eng', ['python', 'c']]

In [ ]:
a = [5,4,3,2,1]
b = [1,2,3,4,5]
b = a
a.sort() #출력해도 값을 저장하는 함수가 아니기 때문에 아무것도 안나옴 quiz
print(b)
a.sort(reverse = True)
print(b)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
age = int(input())
if age >= 20:
    print('성인입니다.')
else:
    print('성인이 아닙니다.')

15
성인이 아닙니다

In [ ]:
#평균구하기
kor_score=[49,79,20,100,80]
math_score=[43,59,85,30,90]
eng_score=[49,79,48,60,100]
midterm_score = [kor_score, math_score, eng_score]

In [ ]:
#학점부여하기
score = [38, 65, 89, 16, 95, 71, 63, 48, 49, 66, 37]
grade = []
for i in range(10):
    if score[i] >= 90:
        grade.append('A')
    elif score[i] >= 80:
        grade.append('B')
    elif score[i] >= 70:
        grade.append('C')
    elif score[i] >= 60:
        grade.append('D')
    else:
        grade.append('F')
print (grade)

['F', 'D', 'B', 'F', 'A', 'C', 'D', 'F', 'F', 'D']

In [ ]:
#학점부여하기 정답
score = int(input('enter your score : '))
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'
print(grade)

enter your score : 75
C

In [ ]:
if 1 :
    print('참이라고 해')
else :
    print('거짓이라고해')

참이라고 해

In [ ]:
if 0 :
    print('참이라고 해')
else :
    print('거짓이라고해')

In [ ]:
if True :
    print('참이라고 해')
else :
    print('거짓이라고해')

In [ ]:
3>5

False

In [ ]:
(3>5)<10

True

In [ ]:
if 13 <= age <= 19 :
    print("청소년")

In [ ]:
#이렇게 쓰기로 하자자
if age >= 13 and age <= 19 :
    print("청소년")

In [ ]:
age = int(input('나이입력 : '))
if age >= 13 and age <= 19 :
    print('청소년')
else:
    print('청소년이 아닙니다')

나이입력 : 20
청소년이 아닙니다

논리연산자 and or
and 연산 : 둘 다 참인 경우에만 결과값이 참(1)
or 연산 :  둘 다 거짓인 경우에만 결과값이 거짓(0)
not 연산 : 참인 경우 결과값이 거짓, 거짓인 경우 결과값이 참참

In [ ]:
print(3>5 and 1>10)
print(3<5 and 1<10)
print(3>5 or 1<10)
print(not 2>3)

False
True
True
True

In [ ]:
#어떤 종류의 학생
birth_year = int(input('태어난 연도 : '))
age = (2023 - birth_year +1)
if age >=20 and age <=26:
    print('대학생')
elif age >=17 and age <20:
    print('고등학생')
elif age >=14 and age <17:
    print('중학생')
elif age >=8 and age <14:
    print('초등학생')
else:
    print('학생이 아닙니다.')

태어난 연도 : 2007
고등학생

반복문 for, while
for문 : 정해진 횟수만큼 반복
while문 : 주어진 조건이 참인 경우 반복

In [ ]:
#for문
for i in [1, 2, 3]:
    print(i)

In [ ]:
for i in ['a', 'b', 'c']:
    print(i)

a
b
c

In [ ]:
myList = ['황희찬', '손흥민', '김민재']
for i in myList:
    print(i)

황희찬
손흥민
김민재

In [ ]:
myList = ['황희찬', '손흥민', '김민재']
for i in myList:
    print('Hello')

Hello
Hello
Hello

In [ ]:
myList = ['황희찬', '손흥민', '김민재']
for i in myList: #리스트의 원소의 개수만큼 반복
    print(i, 'Hello')

황희찬 Hello
손흥민 Hello
김민재 Hello

In [ ]:
for i in 'python':
    print(i, 'Hello')

p Hello
y Hello
t Hello
h Hello
o Hello
n Hello

In [ ]:
for i in range(3): #0 이상 3 미만의 횟수만큼 반복
    print(i)

0
1
2

In [ ]:
for i in range(1, 10): #1 이상 10 미만의 횟수만큼 반복
    print(i)

In [ ]:
for i in range(1, 10, 2): #1 이상 10 미만의 수 중 2의 간격만큼 반복
    print(i)

1
3
5
7
9

In [ ]:
for i in range(2, 11, 2): #2부터 10까지의 수 중 짝수만 출력
    print(i)

2
4
6
8
10

In [ ]:
for i in range(10, 1, -2): #2부터 10까지의 수 중 짝수만 역순으로 출력
    print(i)

10
8
6
4
2

In [ ]:
for i in range(10, 1, -2): #python은 몇 번 출력할까요?
    print('python')

python
python
python
python
python

In [ ]:
for i in range(10, 1, -2): #python은 몇 번 출력할까요?
    print(i, 'python')

10 python
8 python
6 python
4 python
2 python

In [ ]:
i = 1  #i에 1 할당
while i < 10:
    print(i)
    i+=1  #반드시 반복을 끝낼 조건을 만족시킬 수 있어야한다

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
    if i == 5:
        break
    print(i)
print('End of prongram')

0
1
2
3
4
End of prongram

In [ ]:
for i in range(10):
    if i == 5:
        continue  #i가 5가되면 i를 출력하지 않음음
    print(i)
print('End of prongram')

0
1
2
3
4
6
7
8
9
End of prongram

3장
1-3
2-3
3-['orange', 'strawberry', 'melon'] ['banana', 'orange']
4-1 .index() -> 인덱스 번호 반환 ('2'*2)
5-1 문제 들어갈 수 있는 코드로 바꾸기
6-2 print(total)
7-2,4
8-5
9번 생략
10-1
11-5
12-2
13-3
14-1

In [ ]:
x=int(input())
if 15<x<20:
    print(x+3)
elif 21<x<30:
    print(x-5)
else:
    print(f'{x}')

20
20

In [ ]:
num = [1,2,3,4,5,6]
total = 1
for n in num:
    total *= n
    print(total)

1
2
6
24
120
720

In [ ]:
def ast(a, b, *args):
    print(args)

print(ast(1,2,3,4,5))

(3, 4, 5)
None