In [ ]:
#중간고사 1번문제
colorList =[]
for i in range(3):
    colorList.append(input())
print(colorList)

def myfunc(colors):
    if 'purple' not in colors:
        colors.append('purple')
    else:
        colors = ['green', 'blue']
    return colors, type(colors)

print(myfunc(colorList))
print(colorList)

org
blu
yel
['org', 'blu', 'yel']
(['org', 'blu', 'yel', 'purple'], <class 'list'>)
['org', 'blu', 'yel', 'purple']

In [ ]:
#중간고사 2번문제
num = int(input())
for i in range(1, num+1):
    if i % 7 == 0:
        print(i)
        continue

while True:
    a = num // 10
    b = num % 10
    print(a+b)
    break

In [ ]:
class SoccerPlayer(object):
    def __init__(self, name, position, back_number):
        self.name = name
        self.position = position
        self.back_number = back_number

jinhyun = SoccerPlayer('Jinhyun', 'MF', 10)

In [ ]:
class SoccerPlayer(object):
    def change_back_number(self, new_number):
        print('등번호 변경 %d -> %d' %(self.back_number, new_number))
        self.back_number = new_number

In [ ]:
class SoccerPlayer(object):
    def __init__(self, name, position, back_number):
        self.name = name
        self.position = position
        self.back_number = back_number
    def change_back_number(self, new_number):
        print('등번호 변경 %d -> %d' %(self.back_number, new_number))
        self.back_number = new_number

jinhyun = SoccerPlayer('Jinhyun', 'MF', 10)
gildong = SoccerPlayer('Gildong', 'FW', 20)

print('현재 진현 등번호 :', jinhyun.back_number)
jinhyun.change_back_number(15)
print('바뀐 진현 등번호', jinhyun.back_number)

print('길동 포지션 :', gildong.position)
gildong.change_back_number(2)
print('길동 등번호 :', gildong.back_number)

현재 진현 등번호 : 10
등번호 변경 10 -> 15
바뀐 진현 등번호 15
길동 포지션 : FW
등번호 변경 20 -> 2
길동 등번호 : 2

In [ ]:
#오류발생
class SoccerPlayer(object):
    def __init__(self, name, position, back_number):
        self.name = name
        self.position = position
        self.back_number = back_number
    def change_back_number(self, new_number):
        print('등번호 변경 %d -> %d' %(self.back_number, new_number))
        self.back_number = new_number

jinhyun = SoccerPlayer('Jinhyun', 10) #init에 전달되는 인자가 한개 부족함
print('현재 진현 등번호 :', jinhyun.back_number)

TypeError: ignored

In [ ]:
class SoccerPlayer(object):
    def __init__(self, name, position, back_number):
        self.name = name
        self.position = position
        self.back_number = back_number
    def change_back_number(self, new_number):
        print('등번호 변경 %d -> %d' %(self.back_number, new_number))
        self.back_number = new_number
    def __str__(self):
        return 'Hello. My name is %s. I play in %s in center' %(self.name, self.position)

jinhyun = SoccerPlayer('Jinhyun', 'MF', 10)
print(jinhyun)
gildong = SoccerPlayer('Gildong', 'FW', 20)
print(gildong)

Hello. My name is Jinhyun. I play in MF in center
Hello. My name is Gildong. I play in FW in center

In [ ]:
#enumerate
names = ['Messi', 'Ramos', 'Ronaldo', 'Park', 'Buffon']
positions = ['MF', 'DF', 'CF', 'WF', 'GK']
numbers = [10, 4, 7, 13, 1]

for o, s in enumerate(positions):
    print(o, s)

0 MF
1 DF
2 CF
3 WF
4 GK

In [ ]:
#zip
names = ['Messi', 'Ramos', 'Ronaldo', 'Park', 'Buffon']
positions = ['MF', 'DF', 'CF', 'WF', 'GK']
numbers = [10, 4, 7, 13, 1]

for o, s, t in zip(names, positions, numbers):
    print(o, s, t)

Messi MF 10
Ramos DF 4
Ronaldo CF 7
Park WF 13
Buffon GK 1

In [ ]:
#2차원 리스트
names = ['Messi', 'Ramos', 'Ronaldo', 'Park', 'Buffon']
positions = ['MF', 'DF', 'CF', 'WF', 'GK']
numbers = [10, 4, 7, 13, 1]

players = [[name, position, number] for name, position, number in zip(names, positions, numbers)]
print(players)
print(players[0])

[['Messi', 'MF', 10], ['Ramos', 'DF', 4], ['Ronaldo', 'CF', 7], ['Park', 'WF', 13], ['Buffon', 'GK', 1]]
['Messi', 'MF', 10]

In [ ]:
names = ['Messi', 'Ramos', 'Ronaldo', 'Park', 'Buffon']
positions = ['MF', 'DF', 'CF', 'WF', 'GK']
numbers = [10, 4, 7, 13, 1]

class SoccerPlayer(object):
    def __init__(self, name, position, back_number):
        self.name = name
        self.position = position
        self.back_number = back_number
    def change_back_number(self, new_number):
        print('등번호 변경 %d -> %d' %(self.back_number, new_number))
        self.back_number = new_number
    def __str__(self):
        return 'Hello. My name is %s. I play in %s in center' %(self.name, self.position)

player_object = [SoccerPlayer(name, position, number) for name, position, number in zip(names, positions, numbers)]
print(player_object[0])
print(player_object[1])

Hello. My name is Messi. I play in MF in center
Hello. My name is Ramos. I play in DF in center

In [ ]:
#상속
class Person(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age

class Korean(Person):
    pass

first_korean = Korean('태정', 25)

# 파일 입출력

In [ ]:
dir = '/content/drive/MyDrive/Colab Notebooks/고급파이썬/phones.txt'
f = open(dir, 'r')
contents = f.read()
print(contents)
f.close()

허현 010-8612-1501
박진형 010-7150-1794
김지성 010-3376-7077

In [ ]:
#read()
dir = '/content/drive/MyDrive/Colab Notebooks/고급파이썬/phones.txt'
with open(dir, 'r') as f:
    contents = f.read()
    print(type(contents), contents)
f.close()

<class 'str'> 허현 010-8612-1501
박진형 010-7150-1794
김지성 010-3376-7077

In [ ]:
#readlines() - list자료형
dir = '/content/drive/MyDrive/Colab Notebooks/고급파이썬/phones.txt'
with open(dir, 'r') as f:
    contents = f.readlines()
    print(type(contents), contents)
f.close()

<class 'list'> ['허현 010-8612-1501\n', '박진형 010-7150-1794\n', '김지성 010-3376-7077\n']

In [ ]:
dir = '/content/drive/MyDrive/Colab Notebooks/고급파이썬/phones.txt'
with open(dir, 'r') as f:
    i = 0
    while 1:
        contents = f.readline()
        if not contents:
            break
        print(str(i) + ' = ' + contents.replace('\n',''))
        i += 1
f.close()

0 = 허현 010-8612-1501
1 = 박진형 010-7150-1794
2 = 김지성 010-3376-7077

In [ ]:
dir = '/content/drive/MyDrive/Colab Notebooks/고급파이썬/phones.txt'
with open(dir, 'r') as f:
    contents = f.read()
    word_list = contents.split(' ')
    line_list = contents.split('\n')
print(len(contents))
print(word_list)
print(len(word_list))
print(line_list)
print(len(line_list))

53
['허현', '010-8612-1501\n박진형', '010-7150-1794\n김지성', '010-3376-7077\n']
4
['허현 010-8612-1501', '박진형 010-7150-1794', '김지성 010-3376-7077', '']
4

In [ ]:
a = [[1,2,3,5], [1,2,3,4]]
b = [[40,40], [30,30], [20,20], [10,10]]
print([[sum([t[0]*t[1] for t in zip(i,j)]) for j in zip(*b)] for i in a])

[[210, 210], [200, 200]]

In [ ]:
def tr(t_list):
    print([row for row in zip(*t_list)])
tr([[1,4,7], [2,5,8], [3,6,9]])

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [ ]:
data_info = {'year' : '2019', 'month' : '9', 'day' : '6'}
result = '{year} - {month} - {day}'.format(**data_info)
result

'2019 - 9 - 6'

In [ ]:
class Person(object):
    def __init__(self, name):
        self.name =name
    def language(self):
        pass
class Earthling (Person):
    def language(self, language):
        return language
class Groot (Person):
    def language(self, language):
        return "I'm Groot!"
name = ['Hanbit', 'Dr.Strange', 'Groot']
country = ['Korea', 'USA', 'Galaxy']
language = ['Korean', 'English', 'Groot']
for idx, name in enumerate(name):
    if country[idx].upper() != 'GALAXY':
        person = Earthling(name)
        print(person.language(language[idx]))
    else:
        groot = Groot(name)
        print(groot.language(language[idx]))

Korean
English
I'm Groot!

In [ ]:
a = ['a', '1', 'c']
b = ['b', '2', 'd']
for c, d in enumerate(zip(a, b)):
    print(d)

('a', 'b')
('1', '2')
('c', 'd')